CONFIG_SERVER = "irc.freenode.net"
CONFIG_NICK = "cinch-bot"
CONFIG_CHANNELS = ["#cinch-bots"]

# dictionaryapi.com
CONFIG_DICTIONARY_API_KEY = "00000000000000000000000000"

# wunderground.com
CONFIG_WEATHER_API_KEY = "00000000000"

CONFIG_MEMCACHED_ADDRESS = "localhost:11211"
